{% extends 'dbcore/base.html' %}
{% block title %}
	ABC Django Blog Post Lists
{% endblock %}

{% block header %}
	<div class="flex justify-center">
        <h1 class="btn btn-ghost normal-case text-xl md:text-3xl lg:text-3xl my-8">ABC Django Blog Post Lists</h1>
    </div>
     <div class="flex justify-center my-8">
          <a href="{% url 'dbpost:post_create_form_view' %}" class="btn btn-info">Create New Post</a>
      </div>
{% endblock %}

{% block post %}

    {% for post in posts %}
            <!-- post card 01 starts -->
            <div class="py-8 mx-5">
              <div
                class="max-w-3xl mx-auto bg-white rounded-lg shadow-md overflow-hidden"
              >
                <img
                  src="https://via.placeholder.com/800x600"
                  alt="Blog Image"
                  class="w-full h-72 object-cover"
                />
                <div class="p-6">
                  <h2 class="text-2xl font-semibold mb-2">{{ post.title }}</h2>
                  <p class="text-gray-600 mb-4">
                    {{ post.description }}
                  </p>

                  <div class="flex justify-center my-8">
                      <a href="{% url 'dbpost:post_details_view' post.id%}" class="btn btn-info w-10/12">View Details</a>
                  </div>

              </div>
            </div>
            <!-- post card 01 ends -->

    {% endfor %}

{% endblock %}

